<h4>Event binding</h4>

<p>My salary per day is {{salary}} $</p>
<button class="btn" (click)="convertValue()">Change value</button>
<!--  Event binding lets you listen for and respond to user actions such as keystrokes, mouse movements, clicks, and touches. We us () for event binding.
To bind to an event you use the Angular event binding syntax. This syntax consists of a target event name within parentheses to the left of an equal sign, and a quoted template statement to the right. In the following example, the target event name is "click" and the template statement is "convertValue()"-->

<h5>Using property binding and event binding together</h5>

<!-- two way binding -->
<input type="text" [value] = "inputValue" (input)="getInput($event)" /> 
<!-- we use $ for accessing the function -->
<!-- for making input value dynamic. -->

<!-- //single line code-- -->
<input type="text" [(ngModel)]= "inputValue">

<h4>{{inputValue}}</h4>

<!-- for importing ng model-- in app.module.ts-- @NgModules->>imports write FormsModule and it will automatically import form module.-->


<!-- copied from golu's code.. might be of use sometime later -->

<strong>First name:</strong> {{firstName}}
<strong>Last name:</strong> {{lastName}}
<strong>Address:</strong> {{address}}
